<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${currentThread.getTitle()}"></title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
<header></header>
    <main>
    <div class="info">
        <ol>
            <li>Популярное</li>
            <li>Топ 10</li>
        </ol>
    </div>
    <div class="board">
        <div class="thread">
            <div class="d">
                <div class="infoblock">
                    <p th:utext="'Anonymous <b>' + ${currentThread.getTitle()} + '</b> ' + ${currentThread.getFormattedDate()} + ' №' + ${currentThread.getId()}"></p>
                </div>
                <div class="stuff">
                    <div class="file" th:unless="${currentThread.getPicture() == null}">
                        <img th:src="@{{file}(file=${currentThread.getPicture().getFullPath()})}">
                    </div>
                    <div class="text">
                        <p th:text="${currentThread.getText()}"></p>
                    </div>
                </div>
            </div>

            <div class="post" th:each="post : ${postList}">
                <div class="infoblock">
                    <p th:text="'Anonymous ' + ${post.getFormattedDate()} + ' №' + ${post.getPostId()}"></p>
                </div>
                <div class="stuff">
                    <div class="file" th:unless="${post.getPicture() == null}">
                        <img th:src="@{{file}(file=${post.getPicture().getFullPath()})}">
                    </div>
                    <div class="text">
                        <p th:text="${post.getPostText()}"></p>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" th:action="@{/{ref}/res/{id}(ref=${currentBoard.getBoardRef()}, id=${currentThread.getId()+'.html'})}" th:object="${newPost}" method="post" enctype="multipart/form-data">
            <h3>Ответить:</h3>
            <table>
                <tr>
                    <td>Текст поста</td>
                    <td><textarea th:field="*{postText}"></textarea></td>
                </tr>
                <tr>
                    <td>Выберите изображение</td>
                    <td><input type="file" name="file"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Ответить" /></td>
                    <td><input type="reset" value="Отмена" /></td>
                </tr>
            </table>
        </form>
        <form action="#" th:action="@{/{ref}/(ref=${currentBoard.getBoardRef()})}">
            <input type="submit" value="Вернуться к списку тредов" />
        </form>
    </div>
    </main>
<footer></footer>
<!-- /container -->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</div>
</body>
</html>